[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
migrate = "*"
psycopg2-binary = "*"
flask-migrate = "*"
gunicorn = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
